h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#calculator-frame{
  background-color: #1e1e1e;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calculator-body{
  padding: 20px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgb(13, 5, 34);
}

#display{
  background-color: #000000;
  color: #00ff00;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  text-align: right;
  box-sizing: border-box;
}

button {
  min-width: 100px;
  min-height: 100px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #180c27;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button-row {
  display: flex;
  flex-direction: row;
}

.logo-container {
  background-color: transparent;
  border: none;
}

.logo-container img {
  width: 55px;
  height: 55px;
  object-fit: contain;
  background-color: transparent;
}